<a href = '/themepark/comparethemeparks'>Go Back</a>

    {{parkOne.themeParkName}}
    <p>Street address: {{parkOne.streetAddress}}</p>
    <p>City: {{parkOne.city}}</p>
    <p>State: {{parkOne.state}}</p>
    <p>Staff Rating: {{parkOne.staffRating}}</p>
    <p>Cleanliness Rating:{{parkOne.cleanlinessRating}}</p>
    <p>Crowds Rating:{{parkOne.crowdsRating}}</p>
    <p>Diversity Rating:{{parkOne.diversityRating}}</p>

    <p>{{parkTwo.themeParkName}}</p>
    <p>Street address: {{parkTwo.streetAddress}}</p>
    <p>City: {{parkTwo.city}}</p>
    <p>State: {{parkTwo.state}}</p>
    <p>Staff Rating: {{parkTwo.staffRating}}</p>
    <p>Cleanliness Rating:{{parkTwo.cleanlinessRating}}</p>
    <p>Crowds Rating:{{parkTwo.crowdsRating}}</p>
    <p>Diversity Rating:{{parkTwo.diversityRating}}</p>


