{{!-- 

    /homepage/{idOfThemePark}/foodStalls/{idOfFoodStall}

    - theme park
    - rating button
    - comment button

 --}}

 <h1>{{foodstall.foodStallName}}</h1>

 <a href="/themepark/{{tpid}}/foodstalls/{{foodstall._id}}/ratings"> Ratings</a>
 <a href="/themepark/{{tpid}}/foodstalls/{{foodstall._id}}/comments"> Comments</a>