{{!-- 

    /homepage/{idOfThemePark}/foodStalls/{idOfFoodStall}

    - theme park
    - rating button
    - comment button

 --}}


 <h3>{{foodstall.foodsServed}}</h3>

 <a href="/themepark/{{tpid}}/foodstalls/{{foodstall._id}}/ratings"> Ratings</a>
 <a href="/themepark/{{tpid}}/foodstalls/{{foodstall._id}}/comments"> Comments</a>
 <a href="/themepark/{{tpid}}/foodstalls/{{foodstall._id}}/reports"> Reports </a>