{{!-- 
    /homepage/{idOfThemePark}/foodStall/{idOfFoodStall}/ratings

    ratings of a specific foodstall
 --}}
  <p><strong>Number of Ratings:</strong> <span id="numRating">{{averages.numRatings}}</span></p>
 <p><strong>Food Quality Rating:</strong> <span id="avgFoodQuality">{{averages.avgFoodQualityRating}}</span>/10, <strong>Wait Time Rating:</strong> <span id="avgWait">{{averages.avgWaitTimeRating}}</span>/10</p>
 <div id="error"></div>
 <button id="addFoodStallRating">Add rating on food stall</button>
 <div id="rating" hidden>
     <p>Please enter the following information to add a rating to a food stall</p>
    <form id = "ratingForm">
        <label for="food_quality">Food Quality Rating</label>
        <input type="number" name="food_quality" id="food_quality">
        <br>
        <label for="food_wait_time">Wait Time Rating</label>
        <input type="number" name="food_wait_time" id="food_wait_time">
        <br>
        {{!-- <label for="food_stall_review">Enter Your Review</label>
        <input type="string" name="food_stall_review" id="food_stall_review">
        <br> --}}
        <button data-id={{fpid}} type="submit">Submit</button>
    </form>
 </div>
 <div>
    <ol id="ratingsList">
        {{#each ratings}}
        <li>
            <p>{{userName}}</p>
            <p><strong>Food Quality Rating:</strong> {{foodQualityRating}}</p>
            <p><strong>Wait Time Rating:</strong> {{waitTimeRating}}</p>
            <p class = "fsnumlikes"><strong>Number of Likes:</strong> {{numUsersLiked}}</p>
            <p class = "fsnumdislikes"><strong>Number of Dislikes:</strong> {{numUsersDisliked}}</p>
            <button class = "foodstallratinglikes" data-id ={{_id}}>Like</button> 
            <button class = "foodstallratingdislikes" data-id ={{_id}}>Dislike</button> 
        </li>
        {{/each}}
    </ol>
 </div>