{{!-- 
    /homepage/{idOfThemePark}/foodStall/{idOfFoodStall}/ratings

    ratings of a specific foodstall
 --}}
  <p><strong>Number of Ratings:</strong> <span id="numRating">{{averages.numRatings}}</span></p>
 <p><strong>Food Quality Rating:</strong> <span id="avgFoodQuality">{{averages.avgFoodQualityRating}}</span>/10, <strong>Wait Time Rating:</strong> <span id="avgWait">{{averages.avgWaitTimeRating}}</span>/10</p>
 <div id="error"></div>
 <button id="addFoodStallRating">Add rating on food stall</button>
 <div id="rating" hidden>
     <p>Please enter the following information to add a rating to a food stall</p>
    <form id = "ratingForm">
        <label for="food_quality">Food Quality Rating</label>
        <input type="number" name="food_quality" id="food_quality">
        <br>
        <label for="food_wait_time">Wait Time Rating</label>
        <input type="number" name="food_wait_time" id="food_wait_time">
        <br>
        {{!-- <label for="food_stall_review">Enter Your Review</label>
        <input type="string" name="food_stall_review" id="food_stall_review">
        <br> --}}
        <button data-id={{fpid}} type="submit">Submit</button>
    </form>
    <button id="cancelFoodStallRating">Cancel</button>
 </div>
 <div>
    <ol id="ratingsList">
        {{#each ratings}}
        <li data-id="{{_id}}">
            <p>{{userName}}</p>
            <p><strong>Food Quality Rating:</strong> <span class="foodStallQualityRating">{{foodQualityRating}}</span></p>
            <p><strong>Wait Time Rating:</strong> <span class="foodStallWaitTimeRating">{{waitTimeRating}}</span></p>
            <p class = "fsnumlikes"><strong>Number of Likes:</strong> {{numUsersLiked}}</p>
            <p class = "fsnumdislikes"><strong>Number of Dislikes:</strong> {{numUsersDisliked}}</p>
            {{#if edit}}
            <button id="updateFoodStallRating">Update Rating</button>
            <button id="deleteFoodStallRating">Delete Rating</button>
            <br>
            {{/if}}
            <button class = "foodstallratinglikes" data-id ={{_id}}>Like</button> 
            <button class = "foodstallratingdislikes" data-id ={{_id}}>Dislike</button> 
            {{#if edit}}
            <div class="updateRating" hidden>
                <h3>Update Rating</h3>
                <form id = "updateForm">
                    <label for="updateQuality">Food Quality Rating</label>
                    <input type="number" name="updateQuality" id="updateQuality">
                    <br>
                    <label for="updateWait">Wait Time Rating</label>
                    <input type="number" name="updateWait" id="updateWait">
                    <br>
                    {{!-- <label for="food_stall_review">Enter Your Review</label>
                    <input type="string" name="food_stall_review" id="food_stall_review">
                    <br> --}}
                    <button type="submit">Submit</button>
                </form>
                <button id="cancelUpdate">Cancel</button>
            </div>
            {{/if}}
        </li>
        {{/each}}
    </ol>
 </div>