{{!-- <h1>Reports for {{foodstallName}}</h1> --}}
<a href="/themepark/{{themeId}}/foodstalls/{{foodstallId}}">Go back to food stall page</a>
<br>
<p id="error"></p>

<form action="/themepark/{{themeId}}/foodstalls/{{foodstallId}}/addReport" method="GET">
    <button type="submit" id="addFoodStallReport">Report Food Stall</button>
</form>
