<a href="/themepark/{{themeId}}/foodstalls/{{foodstallId}}">Go back to food stall page</a>
<br>
<p id="error"></p>
<button id="addFoodStallReport">Report Food Stall</button>

<div id="report" hidden>
    <p>Please enter the following information to report this food stall:</p>
    <form id="reportForm">
        <label for="foodstall_report">Reason for Reporting</label>
        <br>
        <textarea name="foodstall_report" id="foodstall_report"></textarea>
        <br>
        <button data-id="{{foodstallId}}" type="submit">Submit Report</button>
    </form>
    <button id="cancelReportButton">Cancel</button>
</div>

<div id="reportList">
  <h3>Reports for {{foodstallName}}:</h3>
  {{#if reports.length}}
    {{#each reports}}
      <div data-id="{{_id}}">
        <strong>User:</strong> {{reporter}} <br>
        <strong>Reason:</strong> {{reason}} <br>
        <strong>Date:</strong> {{dateReported}} <br>
        <strong>Status:</strong> {{status}}
        <br><br>
      </div>
    {{/each}}
  {{else}}
    <p>No reports have been submitted for this food stall yet.</p>
  {{/if}}
</div>
