{{!-- <a href="/themepark/{{themeId}}/rides/{{rideId}}">Go back to ride page</a>
<br>
<p id="error"></p>

<form action="/themepark/{{themeId}}/rides/{{rideId}}/addReport" method="GET">
    <button type="submit" id="addRideReport">Report Ride</button>
</form>

<div id="report" hidden>
    <p>Please enter the following information to report this ride</p>
    <form id="reportForm">
        <label for="ride_report">Reason for Reporting</label>
        <br>
        <textarea name="ride_report" id="ride_report"></textarea>
        <br>
        <button data-id="{{rideId}}" type="submit">Submit Report</button>
    </form>
    <button id="cancelReportButton">Cancel</button>
</div> --}}

<a href="/themepark/{{themeId}}/rides/{{rideId}}">Go back to ride page</a>
<br>
<p id="error"></p>

<form action="/themepark/{{themeId}}/rides/{{rideId}}/addReport" method="GET">
    <button type="submit" id="addRideReport">Report Ride</button>
</form>


{{!-- <div id="reportList">
  <h3>Reports for {{rideName}}:</h3>
  {{#if reports.length}}
    {{#each reports}}
      <div data-id="{{_id}}">
        <strong>User:</strong> {{reporter}} <br>
        <strong>Reason:</strong> {{reason}} <br>
        <strong>Date:</strong> {{dateReported}} <br>
        <strong>Status:</strong> {{status}}
        <br><br>
      </div>
    {{/each}}
  {{else}}
    <p>No reports have been submitted for this ride yet.</p>
  {{/if}}
</div> --}}
