{{!-- List of ratings for evrey individial ride

    /homepage/{idOfThemePark}/rides/{idOfRide}/ratings
    - add button to add a ride rating
 --}}

 <h1>Ratings on Rides</h1>

 <main>
    <ol>
        {{#each ratings}}
        <li>
            {{rating info}}
            <button id = "likeRideRating"> Like</button>
            {{likes.length()}}
            <button id = "dislikeRideRating"> Dislike</button>
            {{dislikes.length()}}
        </li>
        {{/each}}
    </ol>
</main>

<a href = '/themepark/{{_id}}/rides/{{_rideid}}/addRating'>Add rating on ride</a>