{{!-- Individal Ride of the Ride list of the individal theme park

    /homepage/{idOfThemePark}/rides/{idOfRide}

    - theme park
    - button for ratings
    - button for comments
 --}}

 <h1>{{ride}}</h1>

 <h3>{{themepark}}</h3>

 

 <a href = '/themepark/{{_id}}/rides/{{_rideid}}/ratings'>Ratings</a>

  <a href = '/themepark/{{_id}}/rides/{{_rideid}}/comments'>Comments</a>