{{!-- <h1> Reports for {{rideName}}</h1> --}}
<a href="/themepark/{{themeId}}/rides/{{rideId}}">Go back to ride page</a>
<br>
<p id="error"></p>

<form action="/themepark/{{themeId}}/rides/{{rideId}}/addReport" method="GET">
    <button type="submit" id="addRideReport">Report Ride</button>
</form>
