{{!-- List of ratings for evrey individial ride

    /homepage/{idOfThemePark}/rides/{idOfRide}/ratings
    - add button to add a ride rating
 --}}

 <h1>Ratings on Rides</h1>

 <main>
    <ol>
        {{#each ratings}}
        <li>
            Username: {{userName}}
           waitTimeRating {{waitTimeRating}}, comfortabilityRating {{comfortabilityRating}}, enjoymentAndExperienceRating {{ enjoymentRating}}
            <p><strong>Number of Likes:</strong> {{numUsersLiked}}</p>
            <p><strong>Number of Disikes:</strong> {{numUsersDisliked}}</p>
            <button id = 'rideratinglikes'>Like</button> 
            <button id = 'rideratingdislikes'>Dislike</button> 
        </li>
        {{/each}}
    </ol>
</main>

<a href = '/themepark/{{tpid}}/rides/{{rpid}}/addRating'>Add rating on ride</a>