{{!-- Individal Ride of the Ride list of the individal theme park

    /homepage/{idOfThemePark}/rides/{idOfRide}

    - theme park
    - button for ratings
    - button for comments
 --}}

  <a href="/themepark/{{tpid}}/rides">Back to Rides</a> <br></br>

 <a href = '/themepark/{{tpid}}/rides/{{ride._id}}/ratings'>Ratings</a>

  <a href = '/themepark/{{tpid}}/rides/{{ride._id}}/comments'>Comments</a>

  <a href="/themepark/{{tpid}}/rides/{{ride._id}}/reports"> Reports </a>
