{{!-- 

    Specific comment on specific ride

    /homepage/{idOfThemePark}/rides/{idOfRide}/comments

    - list of comments
    - add button
 --}}
<p id = "error"></p>
<button id="addComment">Add Ride Comment</button>
<div id="comment" hidden>
    <p>Please enter the following information to add a comment to {{rideName}}</p>
    <form id = "commentForm">
        <label for="commentBody">Ride Comment</label>
        <br>
        <textarea name="commentBody" id="commentBody"></textarea>
        <br>
        <button data-id={{_rideId}} data-index-number="1" type="submit">Submit comment</button>
    </form>
    <button id="cancelButton">Cancel</button>
</div>
<div id="commentList">
  {{#each comments}}
    <div data-id="{{_id}}">
      User: {{userName}} Comment: {{commentBody}}
      <button class="childCommentBtn">Add a comment</button>
      <div hidden>
        <p>Reply</p>
        <form class="childCommentForm">
          <label for="{{_id}}-child"></label>
          <br>
          <textarea name="childCommentBody" id="{{_id}}-child"class="childCommentBody"></textarea>
          <br>
          <button  type="submit">Submit Reply</button>
        </form>
        <button class="cancelChildButton">Cancel</button>
      </div>
      <br>
      {{#each comments}}
        <p>&emsp;&emsp;User: {{userName}} Comment: {{commentBody}}</p>
      {{/each}}
    </div>
  {{/each}}
</div>
