{{!-- Individal Ride of the Ride list of the individal theme park

    /homepage/{idOfThemePark}/rides/{idOfRide}

    - theme park
    - button for ratings
    - button for comments
 --}}

 <h1>{{ride.rideName}}</h1>


 <a href = '/themepark/{{tpid}}/rides/{{ride._id}}/ratings'>Ratings</a>

  <a href = '/themepark/{{tpid}}/rides/{{ride._id}}/comments'>Comments</a>

  <a href="/themepark/{{tpid}}/rides/{{ride._id}}/reports"> Reports </a>