{{!-- List of ratings for evrey individial ride

    /homepage/{idOfThemePark}/rides/{idOfRide}/ratings
    - add button to add a ride rating
 --}}

 <h1>Ratings on Rides</h1>

 <main>
    <ol>
        {{#each ratings}}
        <li>
            Username: {{userName}}
           waitTimeRating {{waitTimeRating}}, comfortabilityRating {{comfortabilityRating}}, enjoymentAndExperienceRating {{ enjoymentRating}}
        </li>
        {{/each}}
    </ol>
</main>

<a href = '/themepark/{{tpid}}/rides/{{rpid}}/addRating'>Add rating on ride</a>