{{!-- List of ratings for evrey individial ride

    /homepage/{idOfThemePark}/rides/{idOfRide}/ratings
    - add button to add a ride rating
 --}}

 <a href = '/themepark/{{tpid}}/rides/{{rpid}}'>Go Back</a>
 <p><strong>Number of Ratings:</strong> <span id="numRating">{{averages.numRatings}}</span></p>
 <p><strong>Wait Time Rating:</strong> <span id="avgWait">{{averages.avgWaitTimeRating}}</span>/10, <strong>Comfortability Rating:</strong> <span id="avgComfort">{{averages.avgComfortRating}}</span>/10, <strong>Enjoyment and Experience Rating:</strong> <span id="avgEnjoyment">{{averages.avgEnjoymentRating}}</span>/10</p>
 <div id="error"></div>
 <button id="addRideRating">Add rating on ride</button>
 <div id="rating" hidden>
    <p>Please enter the following information to add a rating to the ride</p>
    <form id = "ratingForm">
        <label for="ride_waitime">Ride Wait Time Rating</label>
        <input type="number" name="ride_waitime" id="ride_waitime">
        <br>
        <label for="ride_comfortability">Ride Comfortability Rating</label>
        <input type="number" name="ride_comfortability" id="ride_comfortability">
        <br>
        <label for="ride_enjoyment">Ride Enjoyment and Experience Rating</label>
        <input type="number" name="ride_enjoyment" id="ride_enjoyment">
        <br>
        {{!-- <label for="ride_review">Enter Your Review</label>
        <input type="string" name="ride_review" id="ride_review">
        <br> --}}
        <button data-id={{rpid}} type="submit">Submit</button>
    </form>
    <button id="cancelRideRating">Cancel</button>
 </div>
    <ol id="ratingsList">
        {{#each ratings}}
        <li data-id="{{_id}}">
            <p>{{userName}}</p>
            <p><strong>Wait Time Rating:</strong> <span class="rideWaitTimeRating">{{waitTimeRating}}</span></p>
            <p><strong>Comfortability Rating:</strong> <span class="rideComfortabilityRating">{{comfortabilityRating}}</span></p>
            <p><strong>Enjoyment and Experience Rating:</strong> <span class="rideEnjoymentRating">{{ enjoymentRating}}</span></p>
            <p class = "ridenumlikes"><strong>Number of Likes:</strong> {{numUsersLiked}}</p>
            <p class = "ridenumdislikes"><strong>Number of Dislikes:</strong> {{numUsersDisliked}}</p>
            {{#if edit}}
            <button id="updateRideRating">Update Rating</button>
            <button id="deleteRideRating">Delete Rating</button>
            <br>
            {{/if}}
            <button class = "rideratinglikes" data-id ={{_id}}>Like</button> 
            <button class = "rideratingdislikes" data-id ={{_id}}>Dislike</button> 
            {{#if edit}}
            <div class="updateRating" hidden>
                <h3>Update Rating</h3>
                <form id = "updateForm">
                    <label for="updateWait">Ride Wait Time Rating</label>
                    <input type="number" name="updateWait" id="updateWait">
                    <br>
                    <label for="updateComfort">Ride Comfortability Rating</label>
                    <input type="number" name="updateComfort" id="updateComfort">
                    <br>
                    <label for="updateEnjoyment">Ride Enjoyment and Experience Rating</label>
                    <input type="number" name="updateEnjoyment" id="updateEnjoyment">
                    <br>
        {{!-- <label for="ride_review">Enter Your Review</label>
        <input type="string" name="ride_review" id="ride_review">
        <br> --}}
                    <button type="submit">Submit</button>
                </form>
                <button id="cancelUpdate">Cancel</button>
            </div>
        {{/if}}
        </li>
        {{/each}}
    </ol>
 