<a href="/themepark/{{_id}}">Go back to theme park page</a>
<br>
<p id="error"></p>
<button id="addThemeParkReport">Report Theme Park</button>

<div id="report" hidden>
    <p>Please enter the following information to report this theme park</p>
    <form id="reportForm">
        <label for="theme_park_report">Reason for Reporting</label>
        <br>
        <textarea name="theme_park_report" id="theme_park_report"></textarea>
        <br>
        <button data-id="{{_id}}" type="submit">Submit Report</button>
    </form>
    <button id="cancelReportButton">Cancel</button>
</div>

<div id="reportList">
    <h3>Reports for {{themepark}}:</h3>
  <h3>Reports:</h3>
  {{#each reports}}
    <div data-id="{{_id}}">
      <strong>User:</strong> {{userName}} <br>
      <strong>Report:</strong> {{reportBody}}
      <br><br>
    </div>
  {{/each}}
</div>
