{{!-- 

    list of food stalls
    - add foodstill button

    //homepage/{idOfThemePark}/foodStalls
 --}}


<a href = "/themepark/{{tpid}}">Go back to theme park page</a>


    <ol>
        {{#each foodStalls}}
        <li>
            <a href="/themepark/{{../tpid}}/foodstalls/{{_id}}"> {{foodStallName}} </a>
        </li>
        {{/each}}
    </ol>


<a href="/themepark/{{tpid}}/foodstalls/addfoodstall"> Add foodstall</a>