<h1> Reports for {{themeParkName}}</h1>
<a href="/themepark/{{themeId}}">Go back to theme park page</a>
<br>
<p id="error"></p>

<form action="/themepark/{{themeId}}/addReport" method="GET">
    <button type="submit" id="addThemeParkReport">Report Theme Park</button>
</form>

<div id="reportList">
    <h3>Reports:</h3>
    {{#each reports}}
    <div data-id="{{_id}}">
        <strong>User:</strong> {{userName}} <br>
        <strong>Report:</strong> {{reportBody}} <br>
        <br><br>
    </div>
    {{else}}
    <p>No reports have been submitted for this theme park yet.</p>
    {{/each}}
</div>

