{{!-- 
Theme Park Rating Page (INDIVIDUAL THEME PARK)

/themepark/{idOfThemePark}/ratings


- list of all ratings 

- add button (Another page)
 --}}

{{!-- /themepark/{{_id}}/ratings --}}

 {{!-- Gives back the ratings of the specific theme park --}}
{{!-- Should return username        "staffRating": 9
        "cleanlinessRating": 10
        "crowdsRating": 3
        "diveristyRating": 6
        "review --}}

<h1>Ratings for {{themeparkname}}</h1>

<ul>
  {{#each ratings}}
    <li>
      <p>{{userName}}</p>
      <p><strong>Staff Rating:</strong> {{staffRating}}</p>
      <p><strong>Cleanliness Rating:</strong> {{cleanlinessRating}}</p>
      <p><strong>Crowds Rating:</strong> {{crowdsRating}}</p>
      <p><strong>Diversity Rating:</strong> {{diversityRating}}</p>
      <form>
        <button id = 'themeparkratinglikes'>Likes</button>
        <button id = 'themeparkratingdislikes'>Dislikes</button>
      </form>
      <p><strong>Comments:</strong> 
    </li>
  {{/each}}
</ul>

<a href="/themepark/{{themepark}}/ratings/addThemeParkRating">Add a rating to the theme park</a>
