{{!-- 

    /homepage/{idOfThemePark}/rides
    Ride page of every individial theme park

    - list of rides
    - add ride button (another page)
    - report btton for every ride
 --}}

 {{!-- List of rides returned 
    basically links to each ride
 --}}

 <h1>Theme Park Rides</h1>
<a href = "/themepark/{{tpid}}">Go back to theme park page</a>

<main>
    <ol>
        {{#each rides}}
        <li>
            <a href="/themepark/{{../tpid}}/rides/{{_id}}"> {{rideName}} </a>
        </li>
        {{/each}}
    </ol>
</main>


 <a href = '/themepark/{{tpid}}/rides/addRide'>Add ride</a>