{{!-- 
Theme Park Rating Page (INDIVIDUAL THEME PARK)

/themepark/{idOfThemePark}/ratings


- list of all ratings 

- add button (Another page)
 --}}

{{!-- /themepark/{{_id}}/ratings --}}

 {{!-- Gives back the ratings of the specific theme park --}}
{{!-- Should return username        "staffRating": 9
        "cleanlinessRating": 10
        "crowdsRating": 3
        "diveristyRating": 6
        "review --}}
<a href = "/themepark/{{tpid}}">Go back to theme park page</a>
<p><strong>Number of Ratings:</strong> <span id="numRating">{{averages.numRatings}}</span></p>
<p><strong>Staff Rating:</strong> <span id="avgStaff">{{averages.avgStaffRating}}</span>/10, <strong>Cleanliness Rating:</strong> <span id="avgClean">{{averages.avgCleanlinessRating}}</span>/10, <strong>Crowds Rating:</strong> <span id="avgCrowd">{{averages.avgCrowdRating}}</span>/10, <strong>Diversity Rating:</strong> <span id="avgDiversity">{{averages.avgDiversityRating}}</span>/10</p>

<div id = "error"></div>
<button  id="addThemeParkRating">Add a rating to the theme park</button>
<div id="rating" hidden>
    <h2>Add a rating</h2>
    <p>Please enter the following information to add a rating to a theme park</p>
    <form id = "ratingForm">
        <label for="theme_park_staff">Staff Rating</label>
        <input type="number" name="theme_park_staff" id="theme_park_staff">
        <br>
        <label for="theme_park_cleanliness">Cleanliness Rating</label>
        <input type="number" name="theme_park_cleanliness" id="theme_park_cleanliness">
        <br>
        <label for="theme_park_crowds">Crowds Rating</label>
        <input type="number" name="theme_park_crowds" id="theme_park_crowds">
        <br>
        <label for="theme_park_diversity">Diversity Rating</label>
        <input type="number" name="theme_park_diversity" id="theme_park_diversity">
        <br>
        {{!-- <label for="theme_park_review">Enter Your Review</label>
        <input type="string" name="theme_park_review" id="theme_park_review"> --}}
        <button data-id={{themepark}} type="submit">Submit</button>
    </form>
    <button id="cancelThemeParkRating">Cancel</button>
</div>

<ul id="ratingsList">
  {{#each ratings}}
    <li data-id="{{_id}}">
      <p>{{userName}}</p>
      {{!-- <p id="tpitem" data-id="{{_id}}" hidden></p> --}}
      <p><strong>Staff Rating:</strong> <span class="themeParkStaffRating">{{staffRating}}</span></p>
      <p><strong>Cleanliness Rating:</strong> <span class="themeParkCleanlinessRating">{{cleanlinessRating}}</span></p>
      <p><strong>Crowds Rating:</strong> <span class="themeParkCrowdsRating">{{crowdsRating}}</span></p>
      <p><strong>Diversity Rating:</strong> <span class="themeParkDiversityRating">{{diversityRating}}</span></p>
      <p class="numtplikes"><strong>Number of Likes:</strong> {{numUsersLiked}}</p>
      <p class="numtpdislikes"><strong>Number of Dislikes:</strong> {{numUsersDisliked}}</p>
      {{#if edit}}
      <button class="updateThemeParkRating">Update</button>
      {{/if}}
      <button class="themeparkratinglikes" data-id="{{_id}}">Like</button> 
      <button class="themeparkratingdislikes" data-id="{{_id}}">Dislike</button> 
      {{#if edit}}
      <div class="updateRating" hidden>
        <h3>Update Rating</h3>
        <form id = "updateForm">
          <label for="updateStaff">Staff Rating</label>
          <input type="number" name="updateStaff" id="updateStaff">
          <br>
          <label for="updateCleanliness">Cleanliness Rating</label>
          <input type="number" name="updateCleanliness" id="updateCleanliness">
          <br>
          <label for="updateCrowd">Crowds Rating</label>
          <input type="number" name="updateCrowd" id="updateCrowd">
          <br>
          <label for="updateDiversity">Diversity Rating</label>
          <input type="number" name="updateDiversity" id="updateDiversity">
          <br>
          {{!-- <label for="theme_park_review">Enter Your Review</label>
          <input type="string" name="theme_park_review" id="theme_park_review"> --}}
          <button type="submit">Submit</button>
        </form>
        <button id="cancelUpdate">Cancel</button>
      </div>
      {{/if}}
    </li>

  {{/each}}
</ul>

